* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


/* styling for header section */
header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-top: 2%;
  margin-bottom: 3%;
}

header h1 {
  font-size: 6vh;
}

#timer {
  text-align: end;
}


/* Main container styling */
.container {
  background-color: gray;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 70vh;
  margin: auto;
  box-shadow: 0 0 10px 2px;
}

.container h2 {
  flex-basis: 25%;
  font-size: 24px;
  text-align: center;
}



/* start screen styling */
#start {
  display: flex;

  width: 100%;
  height: 100%
}

#start-btn {
  width: 40%;
  height: 40%;
  font-size: 10vh;
  background-color: white;
  border-radius: 25px;
}


/* quiz styling */
#quiz {
  width: 100%;
  height: 100%;
  padding-top: 1%;
}
#quiz h1 {
  text-align: center;
}

.answer-choices {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
  margin-top: 11%;
}

.answer-choices button {
  flex-basis: 100%;
  width: 100%;
  margin: 0 2%;
  margin-bottom: 2%;
  border-radius: 25px;
  border: 1px;
  border-color: black;
  border-style: outset;
}

button:hover {
  outline: 3px solid;
  outline-color: black;
}


/* post quiz styling */



.hide {
  display: none;
}


/* styling for where it says if you got it right or not */
.feedback {
  text-align: center;
}